main {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 30px;
}

mat-table, mat-paginator {
    background-color: var(--background-color);
}

mat-header-cell, mat-cell {
    justify-content: center;
}

mat-row:hover {
    background-color: mediumturquoise;
}