<main>
    <h1>LEADERBOARD</h1>
    <h2>Top 1000</h2>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ dataSource.data.indexOf(result) + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="playerName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ result.playerName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDatetime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ result.startDatetime.toLocaleString() }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="correctWords">
            <mat-header-cell *matHeaderCellDef> Correct Words </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ result.correctWords }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalIncorrectGuesses">
            <mat-header-cell *matHeaderCellDef> Incorrect Guesses </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ result.incorrectGuessesPerWord.reduce(totalIncorrectGuessesReduce) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timePlayed">
            <mat-header-cell *matHeaderCellDef> Time Played </mat-header-cell>
            <mat-cell *matCellDef="let result"> {{ timePlayedConversion(result.startDatetime, result.endDatetime) }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons aria-label="Select page"></mat-paginator>
</main>