main {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 30px;
}

table {
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--background-color)
}

tr:hover {
    background-color: mediumturquoise;
}