<main>
    <button mat-button id="back" (click)="backToMainMenu()">Back</button>
    <h1>INSTRUCTION</h1>
    <div>
        <p>
            In each round of this game, you need to guess a word or phrase based on its topic (as a hint) by selecting letters. 
            For every word or phrase, you have 6 lives corresponding to 6 attempts to guess. If the number of lives is down to
            0 in any round, the game is over.
        </p>
        <p>The game UI contains following parts, as seen in the figure below:</p>
        <img id="ui" src="hangman-ui.png" alt="Hangman UI">
        <ol>
            <li><strong>Quit: </strong>If you want to quit the game, please use this button.</li>
            <li>
                <strong>Lives: </strong>The number of lives left. If it is smaller than 3, it will be red color to indicate the player has
                low lives.
            </li>
            <li><strong>Round: </strong>The current playing round.</li>
            <li><strong>Topic: </strong>The topic that associated to the hidden word.</li>
            <li><strong>Figure: </strong>The image representation of the lives.</li>
            <li>
                <strong>Hidden word: </strong>Only English alphabet characters are hidden as underscores. If you correctly guesses a letter,
                it will be shown here.
            </li>
            <li>
                <strong>Game status: </strong>Each time you guess a letter, when you solve a word, or when the game is over, a textual status
                will be shown here.
                <p>In case that the game is over, you need to enter your name to save your result.</p>
                <img id="gameover-form" src="hangman-gameover-form.png" alt="Gameover form">
            </li>
            <li>
                <strong>Letter buttons: </strong>This is where you guess the letters in a word. The gray buttons are the previously selected
                letters.
            </li>
        </ol>
    </div>
</main>

