<main>
    <h1>INSTRUCTION</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia, turpis eu varius condimentum,
         est metus vestibulum enim, ut sollicitudin nulla est vitae turpis. Phasellus auctor nunc sit amet magna tristique, 
         at consequat felis rhoncus. In auctor lorem ac mauris vehicula sagittis. Curabitur vitae sapien in enim placerat lacinia.
         Phasellus venenatis porttitor metus, vitae posuere elit accumsan id. Pellentesque metus magna, varius non porttitor eget,
         feugiat eu erat. Etiam gravida eros eget ante aliquet, sed ultricies odio sagittis. Nam pharetra tempus magna, vitae 
         vehicula velit consequat nec.
        </p>
    </div>
</main>

