<main>
    <h1>{{ title }}</h1>
    <img src="hangman.svg" alt="Hangman logo">
    <br>
    <button mat-flat-button class="primary-button" [routerLink]="'play'">PLAY</button>
    <br>
    <button mat-flat-button class="primary-button" [routerLink]="'leaderboard'">LEADERBOARD</button>
    <br>
    <button mat-flat-button class="primary-button" [routerLink]="'instruction'">INSTRUCTION</button>
    <p><strong>Important note: </strong>Please do not use browser navigation (back & forward) buttons. Instead, use the navigation buttons inside the application.</p>
    <hr>
    <footer>
        <div>Version 1.0.1</div>
        <div>&copy; 2024, Nhat Truong</div>
    </footer>
</main>