@if (isLoading) {
    <div>Loading...</div>
}
<main>
    @if (!isLoading) {
        <app-round-info [round]="currentRound" [lives]="lives" [topic]="currentWord.topic.name"></app-round-info>
    }
    @if(screenOrientation === "landscape-primary" || screenOrientation === "landscape-secondary") {
        <mat-grid-list cols="2" rowHeight={{gridRowHeight}}>
            <mat-grid-tile colspan="1" rowspan="1">
                <app-figure [lives]="lives"></app-figure>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                @if (!isLoading) {
                    <app-word-letters [totalWords]="totalWords" [word]="currentWord.word" [lives]="lives" [round]="currentRound"
                        [startDatetime]="startDatetime" (nextRoundEvent)="nextRound()"
                        (decreaseLivesEvent)="decreaseLives()"></app-word-letters>
                }
            </mat-grid-tile>
        </mat-grid-list>
    }
    @else {
        @if (!isLoading) {
            <app-word-letters [totalWords]="totalWords" [word]="currentWord.word" [lives]="lives" [round]="currentRound"
                [startDatetime]="startDatetime" (nextRoundEvent)="nextRound()"
                (decreaseLivesEvent)="decreaseLives()"></app-word-letters>
        }
        <app-figure [lives]="lives"></app-figure>
    }
</main>