
section {
    padding-top: 5%;
    padding-bottom: 5%;
}

#blanks {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}

#game-status {
    font-size: 24px;
    text-align: center;
}

#letter-buttons {
    text-align: center;
}

button.primary {
    height: 60px;
    margin: 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 24px;
    color: azure;
}

button.secondary {
    height: 50px;
    margin: 10px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    font-size: 20px;
    color: azure;
}

.error-message {
    color: red;
}