mat-grid-list {
    background-color: var(--tertiary-color);
    font-size: 20px;
}
strong.low-lives {
    color: red;
}

#quit {
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 20px;
    color: azure;
}